.repo-detail
  h3: router-link(:to='{name:"repo-detail"}') {{ repo }}
  el-select(:value='branch' @change='onChangeBranch')
    el-option(v-for='_branch of branches' :value='_branch') Branch: {{ _branch }}
  file-list(
    v-if='$route.name === "repo-detail"'
    :path='path'
    :repo='repo'
    :branch='branch'
    :tag='tag'
    :commit='commitInfo.hash'
  )
  router-view(
    :path='path'
    :repo='repo'
    :branch='branch'
    :tag='tag'
    :commit='commitInfo.hash'
  )
