div
  .navi-path.breadcrum
    div.file-path
      router-link(:to='urlPrefix') {{ this.repo }}
      template(v-for='_path in parentFilePaths')
        span.separator /
        router-link(:to='_path.url') {{ _path.name }}

  header.file-list-header
    div.title
      span.author {{ commitInfo.author.name }}
      span : 
      span {{ commitInfo.message }}
    div.time
      el-tooltip.message(alter='someone')
        span(slot='content') {{ commitInfo.committer.date | date }}
        span {{ commitInfo.committer.date | fromNow }}

    div.blob-actions

  el-table(:data='files' v-if='files.length')
    el-table-column(label='File' prop='name')
      template(scope='scope')
        router-link(:to='fillUrl(scope.row)') {{ scope.row.name }}
    el-table-column(label='Commit')
      template(scope='scope')
        //- router-link(v-if='scope.row.lastCommit' :to="'/repos/' + repo + '/commits/' + scope.row.lastCommit.hash + '/commits'") {{ scope.row.lastCommit.message.substring(0, 50) }}
        div(v-if='scope.row.lastCommit') {{ scope.row.lastCommit.message.substring(0, 50) }}
    el-table-column(label='Size')
      template(scope='scope')
        div: el-tooltip(v-if='scope.row.isFile')
          div(slot='content') {{ scope.row.size }}
          div {{ scope.row.size | size }}
    el-table-column(label='Last Updated')
      template(scope='scope')
        div: el-tooltip(v-if='scope.row.lastCommit')
          div(slot='content') {{ scope.row.lastCommit.committer.date | date }}
          div {{ scope.row.lastCommit.committer.date | fromNow }}
    

  div.file-blob(v-if='canShowEntry')
    header
      div.blob-filename {{ entry.name }}
      div.blob-actions
        a.el-button(:href="'/api/repos/' + repo + '/commits/' + commit + '/blob/' + path" :download='filename') Download

    pre(v-if='canShowBlob' v-highlightjs='blob'): code(:class='fileType')
    div.too-large-notice(v-else) File too large to show