div
  .navi-path.breadcrum
    div.path
      template(v-for='_path in paths')
        span.sperator /
        router-link(:to='{params: {path: _path.path}}') {{ _path.name }}

  div.file-blob
    header
      div.blob-filename {{ entry.name }}
      div.blob-actions
        a.el-button(:href="'/api/repos/' + repo + '/commits/' + commit + '/blob/' + path" :download='filename') Download

    pre(v-if='canShowBlob' v-highlightjs='blob'): code(:class='fileType')
    div.too-large-notice(v-else) File too large to show