div
  ul.navi
    //- li: router-link(:to='')
    li: router-link(:to='commitUrl') commits
  div
    branch-select(:repo='repo' v-model='currentBranchObject' @input='checkout')
    span.navi-paths.breadcrum
      router-link(:to='{params: {path: ""}}') {{ repo }}
      span(v-for='_path in paths')
        span.separater /
        router-link(:to='_path.to') {{ _path.name }}
  file-list(
    :commit='commit'
    :repo='repo'
    :urlPrefix='urlPrefix'
    :path='path')